$background: #ffffff;
$background-negative: #16255b;
$background-primary: #dc1216;
$background-secondary: #b9bdcd;
$background-tertiary: #f3f4f6;

$foreground: #16255b;
$foreground-negative: #ffffff;
$foreground-primary: #dc1216;
$foreground-secondary: #16255b;
$foreground-tertiary: #16255b;

$border: #16255b;
$dark: #28292B;
$grey: #707070;