<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<!-- @@include ./shared/head.html -->

<body>
    <!-- @@include ./shared/svg.html -->
    <!-- @@include ./shared/menu-sidenav.html -->
    <!-- @@include ./shared/search-sidenav.html -->
    <div class="app" app-component>
        <!-- @@include ./shared/header.html -->
        <div id="js-scroll">
            <!-- @@placeholder= main -->
            <!-- @@include ./shared/footer.html -->
        </div>
    </div>
    <!-- @@include ./shared/scripts.html -->
</body>

</html>