<!-- footer -->
<footer class="section--footer">
	<div class="container-fluid">
		<div class="row footer-group">
			<div class="col-md-6">
				<div class="title">Group</div>
			</div>
			<div class="col-md-2">
				<div class="location">
					<img src="/focchi/img/logo-grey.png"><span>Italy</span>
				</div>
				<div class="address">
					Via Cornacchiara, 805
					47824 Poggio Torriana, RN
				</div>
				<div class="tel">
					tel. +39 0541 627 355
					fax +39 0541 686 546
				</div>
			</div>
			<div class="col-md-2">
				<div class="location">
					<img src="/focchi/img/logo-grey.png"><span>United States</span>
				</div>
				<div class="address">
					41 Madison Avenue
					31st Floor, suite 3132
					New York, NY
				</div>
				<div class="tel">
					tel +1 646 202 24 22
				</div>
			</div>
			<div class="col-md-2">
				<div class="location">
					<img src="/focchi/img/logo-grey.png"><span>United Kingdom</span>
				</div>
				<div class="address">
					Sherlock House, 7 Kenrick Place
					London W1U 6HE
				</div>
				<div class="tel">
					tel +44 (0) 20 7224 2934
					fax +44 (0) 20 7487 5732 
				</div>
			</div>
		</div>
		<div class="row other-sites">
			<div class="col-md-2 offset-md-6">
				<div>
					<img src="/focchi/img/logo-fbplace.png">
				</div>
				<div class="website">
					<a href="#">www.fbplace.it</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="iamec">
					<img src="/focchi/img/logo-iamec.png">
				</div>
				<div class="website">
					<a href="#">www.iamec.it</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Newsletter -->
	<div class="footer--newsletter">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="text">
						Subscribe to our newsletter<br>
						and receive our updates by email
					</div>
				</div>
				<div class="col-md-4">
					<form action="#">
						<input class="input-nl" type="email" name="email" placeholder="Enter your email address" required>
						<input class="submit-nl" type="submit" value="Subscribe">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Newsletter -->
	<!-- Social -->
	<div class="footer--social">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<ul>
						<li>
							<a href="#">Facebook</a>
						</li>
						<li>
							<a href="#">Instagram</a>
						</li>
						<li>
							<a href="#">Youtube</a>
						</li>
						<li>
							<a href="#">Pinterest</a>
						</li>
						<li>
							<a href="#">Linkedin</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 language">
					<div>Change:</div>
					<div><a href="#">Country</a></div>
					<div><a href="#">Language</a></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Social -->
	<!-- Credits -->
	<div class="footer--credits">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<div class="text">
						© 2018 Focchi S.p.A. - All right reserved - IT VAT nr 01903410403
						<a href="#">Privacy</a>
						<a href="#">Cookie</a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="websolute">Web Agency: Websolute</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Credits -->
</footer>
