<!-- footer -->
<footer class="section--footer">
	<div class="container-fluid">
		<div class="flex--row">
			<div class="flex__item">
				<b>Prodotti</b>
				<ul class="nav--footer">
					<li><a href="/focchi/product-radiant.html">Componenti Idraulici</a></li>
					<li><a href="/focchi/product-radiant.html">Centrale Termica</a></li>
					<li><a href="/focchi/product-radiant.html">Sistemi radianti</a></li>
					<li><a href="/focchi/product-radiant.html">Rubinetti</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Media</b>
				<ul class="nav--footer">
					<li><a href="#">Corporate</a></li>
					<li><a href="#">Cataloghi</a></li>
					<li><a href="#">Cataloghi Tecnici</a></li>
					<li><a href="#">Brochure di Prodotto</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Comunicazione</b>
				<ul class="nav--footer">
					<li><a href="/focchi/news.html">News</a></li>
					<li><a href="/focchi/eventi.html">Eventi e Fiere</a></li>
					<li><a href="/focchi/realizzazioni.html">Realizzazioni </a> </li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Servizi</b>
				<ul class="nav--footer">
					<li><a href="#">Bim</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="#">Tiemme Lab</a></li>
					<li><a href="#">Garanzia ZERO10</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>&nbsp;</b>
				<ul class="nav--footer">
					<li><a href="#">Azienda</a></li>
					<li><a href="/focchi/contacts-contact-us.html">Contattaci</a></li>
					<li><a href="/focchi/contacts-contact-us.html">Filiali</a></li>
					<li><a href="/focchi/contacts-contact-us.html">Cerca un agente</a></li>
					<li><a href="/focchi/contacts-work-with-us.html">Lavora con noi</a></li>
				</ul>
			</div>
		</div>
		<div class="nav--credits">
			<div>Italia / italiano</div>
			<div>
				<ul class="nav--footer-horizontal">
					<li><a href="#"><span>Sitemap</span></a></li>
					<li><a href="#"><span>Privacy</span></a></li>
					<li><a href="#"><span>Note Legali</span></a></li>
					<li><a href="#"><span>Websolute</span> <svg class="icon icon--websolute"><use xlink:href="#websolute"></use></svg></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
