<!-- header -->
<header class="section--header" id="header">
    <div class="wrap">
        <div class="logo">
            <a href="/">
                <img src="/focchi/img/logo-light.png" alt="Focchi" class="logo--light" />
                <img src="/focchi/img/logo-dark.png" alt="Focchi" class="logo--dark" />
            </a>
        </div>
        <div class="menu">
            <ul class="main-menu">
                <li class="active">
                    <a href="projects.html">Projects</a>
                </li>
                <li>
                    <a href="process.html">Process</a>
                </li>
                <li>
                    <a href="technology.html">Technology</a>
                </li>
                <li>
                    <a href="group.html">Group</a>
                </li>
                <li>
                    <a href="library.html">Library</a>
                </li>
                <li>
                    <a href="contacts.html">Contacts</a>
                </li>
            </ul>
            <ul>
                <li class="lang-menu">
                    <a href="javascript:void(0)">English</a>
                    <div class="lang-drop">
                        <div class="arrow-up"></div>
                        <ul>
                            <li>
                                <a href="#">Italian</a>
                            </li>
                            <li>
                                <a href="#">English</a>
                            </li>
                            <li>
                                <a href="#">French</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="search-menu">
                    <a href="javascript:void(0)">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li class="menu-mobile">
                    <a href="javascript:void(0)">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>