<!-- header -->
<header class="section--header">
	<div class="container-fluid">
		<div class="row">
			<div class="logo">
				<a href="/"><img src="/focchi/img/logo-light.png" alt="Focchi"></a>
			</div>
			<div class="menu">
				<ul>
					<li>
						<a href="projects.html">Projects</a>
					</li>
					<li>
						<a href="#">Process</a>
					</li>
					<li>
						<a href="#">Technology</a>
					</li>
					<li>
						<a href="#">Group</a>
					</li>
					<li>
						<a href="#">Library</a>
					</li>
					<li>
						<a href="#">Contacts</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
