<!-- header -->
<header class="section--header" id="header">
    <div class="wrap">
        <div class="logo">
            <a href="/focchi/">
                <img src="/focchi/img/logo-light.png" alt="Focchi" class="logo--light" />
                <img src="/focchi/img/logo-dark.png" alt="Focchi" class="logo--dark" />
            </a>
        </div>
        <div class="menu">
            <ul>
                <li class="lang-menu">
                    <a href="javascript:void(0)">English</a>
                </li>
                <li class="search-menu">
                    <a href="javascript:void(0)">
                        <svg class="icon icon--search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-mobile">
                    <a href="javascript:void(0)">
                        <svg class="icon icon--bars">
                            <use xlink:href="#bars"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>