<!-- header -->
<header class="section--header" id="header">
	<div class="container-fluid">
		<div class="wrap">
			<div class="logo">
				<a href="/"><img src="/focchi/img/logo-light.png" alt="Focchi"></a>
			</div>
			<div class="menu">
				<ul>
					<li class="active">
						<a href="projects.html">Projects</a>
					</li>
					<li>
						<a href="process.html">Process</a>
					</li>
					<li>
						<a href="technology.html">Technology</a>
					</li>
					<li>
						<a href="group.html">Group</a>
					</li>
					<li>
						<a href="library.html">Library</a>
					</li>
					<li>
						<a href="contacts.html">Contacts</a>
					</li>
					<li class="lang-menu">
						<a href="#">English</a>
						<div class="lang-drop">
							<div class="arrow-up"></div>
							<ul>
								<li>
									<a href="#">Italian</a>
								</li>
								<li>
									<a href="#">English</a>
								</li>
								<li>
									<a href="#">French</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="search-menu">
						<a href="#"><i class="fas fa-search"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
