<!-- Sidenav -->
<div id="menuSidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">
        <svg class="icon icon--times">
            <use xlink:href="#times"></use>
        </svg>
    </a>
    <div class="menu-mobile">

        <a href="projects.html" class="active">Projects</a>
        <a href="process.html">Process</a>
        <a href="technology.html">Technology</a>
        <a href="group.html">Group</a>
        <a href="library.html">Library</a>
        <a href="contacts.html">Contacts</a>
    </div>
    <div class="search-web">
        <div class="title">Cerca</div>
        <input type="text" placeholder="Cerca nel sito..">
        <a href="javascript:void(0)" class="btn">Cerca</a>
    </div>

    <div class="lang-menu">
        <div class="title">Lingua</div>
        <a href="#" class="active">English</a>
        <a href="#">Italian</a>
        <a href="#">French</a>
    </div>
</div>