<!-- @@block = main-->
<section class="section--project-spec">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 offset-md-1">
				<div class="title">Project Specs</div>
			</div>
			<div class="col-md-6 offset-md-2">
				<ul>
					<li>14 different façade systems.</li>
					<li>Fifty-floor, 209-metre-tall.</li>
					<li>Completed June 2015.</li>
					<li>Colombo Costruzioni Contractor.</li>
				</ul>
				<a href="#" class="btn btn--icon">
					<svg class="icon icon--streetview"><use xlink:href="#streetview"></use></svg> 
					<span>SEE ON STREETVIEW</span></a>
			</div>
		</div>
	</div>
</section>
