<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a href="/focchi/img/library/slide-library-1.jpg" data-fancybox="nome-progetto" data-caption="Caption for single image">
                <img src="/focchi/img/library/slide-library-1.jpg" />
            </a>
        </div>
        <div class="swiper-slide swiper-slide--video">
            <a href="/focchi/img/library/slide-library-2.jpg" data-fancybox="nome-progetto" data-caption="Caption for single image">
                <img src="/focchi/img/library/slide-library-2.jpg" />
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/focchi/img/library/slide-library-3.jpg" data-fancybox="nome-progetto" data-caption="Caption for single image">
                <img src="/focchi/img/library/slide-library-3.jpg" />
            </a>
        </div>
    </div>

</div>