<div class="container-fluid">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="title">1950 - 1960</div>
                        <div class="text">A partire dalla ricostruzione post-bellica, è su idea di Ugo Focchi che si sviluppa la competenza nella lavorazione di alluminio. </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="/focchi/img/group/1950-1960.jpg" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="title">1970</div>
                        <div class="text">A partire dalla ricostruzione post-bellica, è su idea di Ugo Focchi che si sviluppa la competenza nella lavorazione di alluminio. </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="/focchi/img/group/1950-1960.jpg" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="title">1975</div>
                        <div class="text">A partire dalla ricostruzione post-bellica, è su idea di Ugo Focchi che si sviluppa la competenza nella lavorazione di alluminio. </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="/focchi/img/group/1950-1960.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- If we need pagination -->
<div class="swiper-pagination"></div>