.section--dettaglio {
	padding: 80px 0;

	.intro-text {
		font-size: 24px;
		font-weight: 500;
	}

	.location {
		margin-bottom: 50px;

		.title {
			text-transform: uppercase;
			margin: 0;

			
		}

		i {
			padding-right: 10px;
		}
	}

	.share {		

		.title {
			text-transform: uppercase;
			margin: 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: 0 5px;

				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	.link {
		display: inline;
	}
}


@include media-breakpoint-up(lg) {
		
}

@include media-breakpoint-down(md) {
	
}

@include media-breakpoint-down(xs) {

}

// Prodotti Utilizzati
.section--prodotti-utilizzati {
	padding: 80px 0;

	.group--title {
		justify-content: center;

		.title {
			font-size: 50px;
		}
	}
}