.section--header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 20px 30px;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &.scroll-down {
        top: -150px;
    }
    &.scroll-up {
        background: #fff;
        top: 0;
        position: fixed !important;
        padding: 10px 30px;
        .logo--light {
            display: none !important;
        }
        .logo--dark {
            display: block !important;
            height: 50px;
            width: auto;
        }
        .icon--bars,
        .icon--search {
            fill: $dark;
        }
        .menu {
            ul {
                li {
                    a {
                        color: $dark !important;
                        border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid rgba(0, 0, 0, 1) !important;
                            transition: all ease-in-out 0.3s;
                        }
                    }
                    &.active {
                        a {
                            border-bottom: 2px solid rgba(0, 0, 0, 1) !important;
                        }
                    }
                }
            }
        }
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo--dark {
            display: none;
        }
        .logo--light {
            display: block;
        }
        .menu {
            ul {
                display: inline-block;
                padding: 0;
                margin: 0;
                &.main-menu {
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }
            list-style: none;
            display: inline-block;
            li {
                display: inline-block;
                padding: 0 30px;
                @include media-breakpoint-down(lg) {
                    padding: 0 20px;
                }
                @include media-breakpoint-down(md) {
                    padding: 0 15px;
                }
                a {
                    color: #fff;
                    font-size: 21px;
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                    @include media-breakpoint-down(lg) {
                        font-size: 16px;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 16px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 18px;
                    }
                    &:hover,
                    &:focus {
                        border-bottom: 2px solid rgba(255, 255, 255, 1);
                    }
                }
                &.active {
                    a {
                        border-bottom: 2px solid rgba(255, 255, 255, 1);
                    }
                }
                &.lang-menu {
                    position: relative;
                    padding-left: 50px;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                    a {
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
                        }
                    }
                }
                &.search-menu {
                    padding-right: 0;
                    padding-left: 0;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                    a {
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
                        }
                    }
                }
                &.menu-mobile {
                    display: none;
                    @include media-breakpoint-down(sm) {
                        display: inline-block;
                    }
                    a {
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
                        }
                    }
                }
            }
        }
    }
}