.section--header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 50px;
	width: 100%;
	transition: top 0.2s ease-in-out;

	&.nav-up {
		top: -40px;
	}

	.wrap {
		position: relative;
		display: flex;
		justify-content: space-between;

		.menu {
			ul {
				list-style: none;

				li {
					display: inline-block;
					padding: 0 30px;

					@include media-breakpoint-down(lg) {
						padding: 0 20px;
					}

					@include media-breakpoint-down(md) {
						padding: 0 15px;
					}

					a {
						color: #fff;
						font-size: 21px;
						transition: all ease-in-out 0.3s;
						border-bottom: 2px solid rgba(255, 255, 255, 0);

						@include media-breakpoint-down(lg) {
							font-size: 16px;
						}

						@include media-breakpoint-down(md) {
							font-size: 14px;
						}

						&:hover,
						&:focus {
							border-bottom: 2px solid rgba(255, 255, 255, 1);
							transition: all ease-in-out 0.3s;
						}
					}

					&.active {
						a {
							border-bottom: 2px solid rgba(255, 255, 255, 1);
						}
					}

					&.lang-menu {
						padding-left: 200px;
						position: relative;

						@include media-breakpoint-down(lg) {
							padding-left: 100px;
						}

						@include media-breakpoint-down(md) {
							padding-left: 50px;
						}

						a {
							&:hover,
							&:focus {
								border-bottom: 2px solid rgba(255, 255, 255, 0);
							}
						}

						.lang-drop {
							background: #fff;
							position: absolute;
							margin-top: 10px;
							display: none;

							ul {
								list-style: none;
								margin: 0;
								padding: 0;

								li {
									display: block;
									margin: 0;
									padding: 0;

									&:last-child {
										a {
											border-bottom: 0;
										}
									}

									a {
										display: block;
										color: $dark;
										font-size: 14px;
										padding: 5px 20px;
										border-bottom: 1px solid #ccc;

										&:hover,
										&:focus {
											color: #fff;
											background: $dark;
										}
									}
								}
							}
						}
					}

					&.search-menu {
						padding-right: 0;

						a {
							&:hover,
							&:focus {
								border-bottom: 2px solid rgba(255, 255, 255, 0);
							}
						}
					}
				}
			}
		}
	}
}
