.section--header {
	position: absolute;
	z-index: 1000;
	width: 100%;
	top: 0;
}

.flex--header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 28px;

	.left {
		flex: 1 1 33%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.center {
		min-width: 360px;
		flex: 1 1 360px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.right {
		flex: 1 1 33%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.btn--menu {
	@extend %btn;
	position: relative;
	width: 64px;
	height: 45px;
	background: $background-negative;

	&>span {
		display: block;
		position: absolute;
		width: 44px;
		height: 3px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background: $foreground-negative;
		transition: all ease-in-out 250ms;
	}

	&>span:nth-child(1) {
		margin-top: -10px;
	}

	&>span:nth-child(3) {
		margin-top: 10px;
	}

	&.active {
		&>span:nth-child(1) {
			margin-top: 0;
			transform: translateX(-50%) translateY(-50%) rotateZ(-45deg) scale(0.8);
		}

		&>span:nth-child(2) {
			opacity: 0;
		}

		&>span:nth-child(3) {
			margin-top: 0;
			transform: translateX(-50%) translateY(-50%) rotateZ(45deg) scale(0.8);
		}
	}

	@include media-breakpoint-down(lg) {
		width: 54px;
		height: 35px;

		&>span {
			width: 34px;
		}

		&>span:nth-child(1) {
			margin-top: -7px;
		}

		&>span:nth-child(3) {
			margin-top: 7px;
		}

	}
}

.btn--languages {
	@extend %btn;
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	color: $foreground;

	&>span {
		font-size: 24px;
		line-height: 1;
		font-family: $font-primary;
	}

	.icon {
		margin: 0 10px;
		fill: $foreground;
	}

	&:hover,
	&.active {}

}

.btn--club {
	@extend %btn;
	display: inline-block;

	span {
		display: inline-block;
		padding: 13px 30px;
		font-size: 24px;
		line-height: 1;
		font-weight: $font-medium;
		border: none;
		font-family: $font-primary;
		text-transform: uppercase;
		transition: all ease-in-out .2s;
	}

	.icon--user {
		width: 20px;
		height: 20px;
		margin-right: 7px;
		margin-left: -10px;
		margin-bottom: -1px;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		span {
			background: $background-primary;
			color: $foreground-negative;
			transition: all ease-in-out .2s;
		}

		.icon--user {
			fill: $foreground-negative;
		}
	}

	.section--negative & {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			span {
				background: $background;
				color: $foreground-primary;
			}

			.icon--user {
				fill: $foreground-primary;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
	}
}

.group--language {
	line-height: 0;
}

%dropdown {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dropdown--menu {
	@extend %dropdown;
	background: url('../img/header/background.jpg') no-repeat;
	background-size: cover;
	opacity: 0;
	animation-name: dropdown-menu;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

@keyframes dropdown-menu {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.nav--header {
	@extend %nav-vertical;

	&>li {
		flex: 0 1 auto;

		&>a,
		&>span {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 50px;
			line-height: 50px;
			padding: 10px 20px;
			margin-bottom: 20px;
			font-family: $font-primary;
			font-weight: $font-medium;
			text-transform: uppercase;
			color: $foreground;
			cursor: pointer;
			transition: ease-in-out 350ms;
			transition-property: background-color, color, border, opacity, padding;

			.icon {
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -5px;
				width: 8px;
				height: 12px;
				fill: $foreground;
				opacity: 0;
				transition: ease-in-out 350ms;
				transition-property: fill, opacity;
			}

			&:hover,
			&.active,
			&.dropped {
				background: $background-secondary;
				color: $foreground;
				padding: 10px 40px 10px 20px;

				.icon {
					opacity: 1;
				}
			}

			opacity: 0;
			// max-width: 0;
			// overflow: hidden;
			animation-name: nav-menu;
			animation-duration: 400ms;
			animation-fill-mode: forwards;
		}
	}

	border-top: 1px solid rgba(#16255b, 0.2);

	&:first-child {
		border-top: none;
		border-bottom: 1px solid rgba(#16255b, 0.2);
	}

	@include media-breakpoint-up(md) {
		width: 480px;
		min-height: 540px;
	}

	@include animation-delay(li, 10);
}

@keyframes nav-menu {
	from {
		// max-width: 0;
		opacity: 0;
	}

	to {
		// max-width: 800px;
		opacity: 1;
	}
}
