.section--menu {
	position: absolute;
	top: 0;
	width: 100%;
}

.icon--background {
	position: absolute;
	width: 30vw;
	height: 30vw;
	right: 0;
	fill: rgba(#16255b, 0.1);
	margin-top: 150px;
}

.section--products {

	&>.container>.title {
		font-family: $font-primary;
		font-size: 20px;
		line-height: 1;
		font-weight: $font-medium;
		text-align: center;
		text-transform: uppercase;
		margin: 40px 0;
	}

}

.section--text-picture {
	position: relative;
	padding-bottom: 80px;

	.abstract {
		padding-bottom: 40px;

		p {
			margin: 0;
			padding-bottom: 15px;
		}
	}

	.picture--product {
		box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);
	}

	&.section--intro {
		.row {
			align-items: center;
		}
	}

	&:not(.section--intro) {
		margin-top: -80px;

		&>.container>.row>div:first-child {
			padding-top: 160px;
		}


	}

}

.section--dimensions {
	padding-bottom: 80px;
	font-size: 17px;
	line-height: 32px;

	.flex--row {
		justify-content: flex-start;
		padding: 10px 0;
		border-top: 1px solid $background-secondary;

		&>.flex__item {
			&:first-child {
				flex: 1 1 23%;
				font-weight: $font-semibold;
			}

			&:last-child {
				flex: 1 1 77%;
			}
		}

		&>.flex__item+.flex__item {
			margin-left: 15px;
		}
	}
}

.section--codes {
	padding-bottom: 80px;
	font-size: 15px;
	line-height: 1;

	.flex--table {
		margin-left: -15px;
		margin-right: -15px;
	}

	.flex--row {
		justify-content: flex-start;
		padding: 20px 0;
		margin-bottom: 6px;

		&:first-child {
			font-size: 18px;
			font-family: $font-primary;
			text-transform: uppercase;
			color: black;
		}

		&:not(:first-child) {
			background: $background-tertiary;

			&>.flex__item:first-child {
				font-weight: $font-semibold;
			}
		}

		&>.flex__item {
			flex: 1 1 25%;
			padding: 0 15px;
		}

		&>.flex__item+.flex__item {
			margin-left: 15px;
		}
	}
}

%flex--table-link {

	margin-left: -15px;
	margin-right: -15px;

	.flex--row {
		position: relative;
		justify-content: space-between;
		padding: 20px 0;
		margin-bottom: 6px;
		line-height: 1;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $background-tertiary;
			transition: all ease-in-out 350ms;
		}

		&>.flex__item {
			position: relative;
			padding: 0 15px;
			font-size: 15px;

			&:first-child {
				font-weight: $font-semibold;
			}
		}

		&>.flex__item+.flex__item {
			margin-left: 15px;
		}

		&:hover {
			z-index: 10;

			&:before {
				top: -6px;
				left: -6px;
				right: -6px;
				bottom: -6px;
				background: white;
				box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.15);
			}

			.btn--download {
				opacity: 1;
			}

		}
	}
}

.section--technical-sheet {
	padding-bottom: 80px;
	font-size: 15px;
	line-height: 1;

	.flex--table {
		@extend %flex--table-link;
	}
}

.group--register-or-login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 40px 0;

	.btn--cta {
		margin: 0 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.section--catalogue {
	padding: 80px 0;

	.title {
		font-size: 50px;
		line-height: 40px;
		font-family: $font-primary;
		text-transform: uppercase;
		margin-bottom: 30px;

		small {
			font-size: 26px;
			line-height: 1;
		}

	}

}

.card--catalogue {
	width: 378px;
	cursor: pointer;

	.picture--catalogue {
		@include aspect-flex(378, 266);
		max-width: 100%;
		margin-bottom: 25px;
		background: rgb(255, 255, 255);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(185, 189, 205, 1) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b9bdcd',GradientType=0 );
		box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);

		.category {
			font-size: 29px;
			line-height: 1;
			font-weight: $font-medium;
			font-family: $font-primary;
			text-transform: uppercase;
		}

		.name {
			font-size: 40px;
			line-height: 1;
			font-weight: $font-bold;
			font-family: $font-primary;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		img {
			width: 175px;
			height: 30px;
		}
	}

	&,
	&:active,
	&:visited {
		.btn--link {
			span {
				color: $foreground;
			}
		}
	}

	&:focus,
	&:hover {
		.btn--link {
			span {
				background: $foreground;
				color: $foreground-negative;
			}
		}
	}
}

.section--bim {
	padding: 0 0 80px 0;

	.title {
		display: inline-flex;
		align-items: center;
		font-size: 50px;
		line-height: 40px;
		font-weight: $font-bold;
		font-family: $font-primary;
		text-transform: uppercase;
		margin-top: 80px;

		b {
			color: $foreground-primary;
		}
	}

	.icon--bim {
		width: 55px;
		height: 55px;
		fill: $foreground-primary;
		margin-right: 15px;
	}

	.picture--bim {
		margin: 0 auto;
		width: 100%;
		background: transparent;
	}

	.flex--table {
		@extend %flex--table-link;

		.flex--row {
			&:before {
				background: $background-secondary;
			}
		}
	}

	.group--register-or-login {
		justify-content: center;
	}

}

.section--certifications {

	.group--cta {
		&>.btn--cta {
			margin-bottom: 10px;
		}
	}

	.btn--cta {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

}

.section--related {
	padding: 80px 0;
}
