%btn {	
	padding: 10px;
}

.btn {
	background: #fff;
	border: 2px solid #BEBEBF;
	color: $dark;
	text-decoration: none;
	
	&--icon {
		height: 50px;
		display: inline-block;
		padding: 0;
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 2px;

		span {
			padding: 0 10px;
			border-left: 2px solid #bebebf;
			margin-left: 0;
			display: inline-flex;
			height: 47px;
			justify-content: center;
			align-items: center;
		}
	
		svg {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: relative;
			left: 3px;
			top: 2px;
			width: 50px;
		}
	}
}

.btn--link {
	color: $dark;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	border-bottom: 2px solid #000;
	letter-spacing: 2px;
}