.card--slide {
	position: relative;

	.picture {
		@include aspect-clip(1152, 600);
	}

	.picture--video {
		@include aspect-clip(16, 9);
	}

	.picture--slide {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(25, 37, 90, 0.15) 0%, rgba(25, 37, 90, 0.95) 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2619255a', endColorstr='#f219255a',GradientType=0 );
			transform: translateZ(0);
		}
	}

	/*
	.picture--video {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.75) 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2619255a', endColorstr='#f219255a',GradientType=0 );
		}
	}
	*/

	.content {
		position: absolute;
		bottom: 0;
		padding: 40px;
		color: $foreground-negative;

		&>.title {
			font-family: $font-primary;
			font-size: 40px;
			line-height: 40px;
			font-weight: $font-medium;
			text-transform: uppercase;

			b {
				font-size: 70px;
				line-height: 40px;
				font-weight: $font-medium;

				@include media-breakpoint-down(xs) {
					font-size: 32px;
				}
			}
		}

		&>.abstract {
			margin-top: 15px;
			font-size: 20px;
			line-height: 1.5;
			font-weight: $font-light;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 0;
		}

		p {
			margin: 0;
		}

		& p+p {
			margin-top: 10px;
		}

	}

	.icon--expand {
		fill: $foreground-negative;
		transition: transform 350ms 700ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
	}

	.title {
		.icon--expand {
			margin-left: 10px;
		}
	}

	&[zoomable] {
		cursor: pointer;

		&>.icon--expand {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		&.zoom {
			z-index: 10000;

			.icon--expand {
				transform: rotate(180deg);
			}

			.picture {
				height: 100%;
			}

		}

		&.zoomed {
			.content {
				max-height: 100%;
				overflow-x: hidden;
				overflow-y: auto;

				&>.abstract {
					transition: all 700ms 150ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
					max-height: 50vh;
				}
			}
		}
	}

}

.card--product {
	position: relative;
	width: 100%;

	.picture {
		@include aspect-clip(450, 307);
		margin-bottom: 25px;
		box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);

		img {
			transition: 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
			transition-property: transform, opacity;
		}

		&>.category {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 5px 12px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-family: $font-primary;
			font-size: 20px;
			line-height: 1;
			font-weight: $font-medium;
			text-transform: uppercase;
			background: $background-secondary;
			color: $foreground;
		}
	}

	.col-md-4>& {
		.picture {
			&>.category {
				bottom: auto;
				top: 0;
			}
		}
	}

	.title {
		font-family: $font-primary;
		font-size: 22px;
		line-height: 30px;
		font-weight: $font-medium;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.abstract {
		font-size: 16px;
		line-height: 21px;
		font-weight: $font-light;

		&>p {
			display: inline;
			margin-right: 20px;
		}
	}

	&:hover {
		.picture {
			img {
				transform: scale(1.2);
			}
		}

		.btn--link {
			span {
				background: $background-secondary;
				color: $foreground;
			}
		}
	}

	/*
	.picture--product {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(25, 37, 90, 0.15) 0%, rgba(25, 37, 90, 0.95) 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2619255a', endColorstr='#f219255a',GradientType=0 );
		}
	}
	*/
}

.card--news {
	margin-bottom: 80px;

	.picture {
		@include aspect-clip(450, 307);
		margin-bottom: 25px;

		img {
			transition: 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
			transition-property: transform, opacity;
		}

		.date {
			position: absolute;
			bottom: 0;
			left: 0;
			background: $background-secondary;
			height: 26px;
			z-index: 100;
			font-size: 14px;
			font-family: $font-primary;
			font-weight: $font-medium;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: 0 10px;
		}
	}

	.title {
		font-family: $font-primary;
		font-size: 22px;
		line-height: 30px;
		font-weight: $font-medium;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.abstract {
		font-size: 16px;
		line-height: 25px;
		font-weight: $font-light;

		&>p {
			display: inline;
			margin-right: 20px;
		}
	}

	&:hover {
		.picture {
			img {
				transform: scale(1.2);
			}
		}

		.btn--link {
			span {
				background: $background-secondary;
				color: $foreground;
			}
		}
	}

}

.card--evento {
	margin-bottom: 80px;

	.picture {
		@include aspect-clip(450, 307);
		margin-bottom: 25px;

		img {
			transition: 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
			transition-property: transform, opacity;
		}

		.date {
			position: absolute;
			bottom: 0;
			left: 0;
			background: $background-secondary;
			height: 26px;
			z-index: 100;
			font-size: 14px;
			font-family: $font-primary;
			font-weight: $font-medium;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: 0 10px;
		}

		.status {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 26px;
			z-index: 100;
			font-size: 14px;
			font-family: $font-primary;
			font-weight: $font-medium;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: 0 10px;

			&.in-corso {
				background-color: #5FB74A;
				color: #fff;
			}

			&.terminato {
				background-color: $background-negative;;
				color: #fff;
			}
		}
	}

	.title {
		font-family: $font-primary;
		font-size: 22px;
		line-height: 30px;
		font-weight: $font-medium;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.abstract {
		font-size: 16px;
		line-height: 25px;
		font-weight: $font-light;

		&>p {
			display: inline;
			margin-right: 20px;
		}
	}

	&:hover {
		.picture {
			img {
				transform: scale(1.2);
			}
		}

		.btn--link {
			span {
				background: $background-secondary;
				color: $foreground;
			}
		}
	}

}

.card--realizzazione {
	margin-bottom: 80px;

	.picture {
		@include aspect-clip(450, 307);
		margin-bottom: 25px;

		img {
			transition: 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
			transition-property: transform, opacity;
		}

		.location {
			position: absolute;
			bottom: 0;
			left: 0;
			background: $background-secondary;
			height: 26px;
			z-index: 100;
			font-size: 14px;
			font-family: $font-primary;
			font-weight: $font-medium;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: 0 10px;
		}
	}

	.title {
		font-family: $font-primary;
		font-size: 22px;
		line-height: 30px;
		font-weight: $font-medium;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.abstract {
		font-size: 16px;
		line-height: 25px;
		font-weight: $font-light;

		&>p {
			display: inline;
			margin-right: 20px;
		}
	}

	&:hover {
		.picture {
			img {
				transform: scale(1.2);
			}
		}

		.btn--link {
			span {
				background: $background-secondary;
				color: $foreground;
			}
		}
	}

}


.card--agent {
	background-color: #EAEBF0;
	padding: 30px;
	display: flex;
	box-shadow: 0 20px 20px -5px rgba(0,0,0,.2);
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-down(xs) {
		flex-wrap: wrap;
	}

	.sx {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}

	.dx {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}

	.title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 32px;
		line-height: 30px;
		font-family: $font-primary;

		@include media-breakpoint-down(xs) {
			font-size: 24px;
			padding-bottom: 10px;
		}
	}

	.address, .phone, .mail, .location {
		font-size: 14px;
	}

	.location, .phone {

		span {
			font-weight: 600;
		}
	}

	.dati {
		margin: 20px 0;
	}

	i {
		padding-right: 10px;
	}

	.settori {
		list-style: none;
		margin: 0;
		padding: 0;

		@include media-breakpoint-down(xs) {
			margin: 20px 0;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 10px;

			&:last-child {
				padding-bottom: 0;
			}

			span {
				font-family: $font-primary;
				font-size: 14px;
			}
		}
	}

	.link {
		text-align: center;
	}
}