.section--full-text {
	padding: 80px 0;
	background: url('/focchi/img/stripes.png') #FFF;
	background-position: center;
	background-size: cover;

	[data-scroll] {
		opacity: 0;
		transition: opacity 1.5s ease-in-out;
		
		&.is-inview {
			opacity: 1;
		}
	}

	.text-box {
		margin-bottom: 100px;
		color: $dark;
		font-size: 18px;

		&:last-child {
			margin-bottom: 0;
		}

		.text {
			color: $grey;
			padding: 20px 0;
		}
	}
}