.icon--streetview {
    width: 20px;
    height: 13px;
    fill: $dark;
}

.icon--bars {
    width: 30px;
    height: 15.1px;
    fill: #fff;
}

.icon--search {
    width: 30px;
    height: 20px;
    fill: #fff;
    position: relative;
    top: 5px;
}

.icon--times {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.icon--dropdown {
    width: 13px;
    height: 13px;
    fill: none;
    stroke: #707070;
}