.icon--logo {
	width: 355px;
	height: 60px;
}

.icon--valves {
	width: 96px;
	height: 96px;
}

.icon--taps {
	width: 96px;
	height: 96px;
}

.icon--radiant {
	width: 96px;
	height: 96px;
}

.icon--thermo {
	width: 96px;
	height: 96px;
}

.icon--bim {
	width: 98px;
	height: 98px;
}

.icon--tiemme-lab {
	width: 96px;
	height: 96px;
}

.icon--caret-down {
	width: 8px;
	height: 5px;
}

.icon--languages {
	width: 24px;
	height: 24px;
}

.icon--caret-right {
	width: 8px;
	height: 12px;
}

.icon--facebook {
	width: 8px;
	height: 17px;
}

.icon--youtube {
	width: 23px;
	height: 17px;
}

.icon--linkedin {
	width: 18px;
	height: 17px;
}

.icon--websolute {
	width: 20px;
	height: 20px;
}

.icon--search {
	width: 21px;
	height: 23px;
}

.icon--bullet {
	width: 18px;
	height: 18px;
}

.icon--expand {
	width: 29px;
	height: 30px;
}

.icon--download {
	width: 9px;
	height: 13px;
}

.icon--upload {
	width: 24px;
	height: 24px;
}

.icon--insights {
	width: 24px;
	height: 24px;
}

.icon--guides {
	width: 24px;
	height: 24px;
}

.icon--user {
	width: 24px;
	height: 24px;
}
