.section--two-img {
	padding: 80px 0;
	background: url('a/focchi/img/stripes.png') #FFF;
	background-position: center;
	background-size: cover;

	.row {

		.col-md-6 {
			display: flex;
			justify-content: center;
		}
	}
}