.section--two-img {
    padding: 80px 0;
    background: #fff;
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
    .row {
        .col-md-6 {
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(xs) {
                padding-bottom: 50px;
            }
        }
    }
}